node_modules/
src/app/generated/
src/app/abgenerators/
src/app/app-routing.module.ts
src/app/app.component.ts
src/app/app.module.ts
ui-builder/src/**/*.js
ui-builder/src/**/*.js.map
src/app/**/*.js
src/app/**/*.js.map