<div>
  <h1>
    OSB Services Generation Sample
  </h1>
  <h5>
    This sample configuration helps as a basis for understanding ArtifactBuilder's XML parsing to Angular Templates
  </h5>
  <h3>Select a generation form</h3>
  <table>
    <tr>
      
      <td>
        <input 
			id="sampleFormOneID" 
			name="selectedGeneratorForm" 
			type="radio" 
			value="sampleFormOne" 
			onchange="checkOption('sampleFormOne')"
        />
        <label for="sampleFormOneID">
			Sample Form 1
		</label>
      </td>
      
      <td>
        <input 
			id="GenReqFileFormID" 
			name="selectedGeneratorForm" 
			type="radio" 
			value="GenReqFileForm" 
			onchange="checkOption('GenReqFileForm')"
        />
        <label for="GenReqFileFormID">
			Generate using file
		</label>
      </td>
      
    </tr>
  </table>
  <sampleFormOne></sampleFormOne>
<GenReqFileForm></GenReqFileForm>

</div>
